.button{
    border:none;
    outline:none;
    padding-inline:1.5rem;
    padding-block:0.75rem;
    border-radius:1rem;
    cursor:pointer;
    font-size:1.5rem;
    
    transition:all 0.3s ease-in-out;

    &.primary-button{
        font-size: 20px;
        background-color:#10b981;
        color:#ffffff;
        font-weight: 600;

         &:hover {
      box-shadow: 0 0 20px rgba(16, 185, 129, 0.5); // glow effect
      transform: scale(1.03); 
      background-color: #059669;
         }
        
    }
    &:active{
    transform :scale(0.8)
}

}